/* Importing the fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*
{
    font-family: 'Lato', sans-serif;
}
/* All element selectors */

nav
{
    color: white;
    background-color: #212529;
    height: 60px;
}
nav li
{
    float: right;
    color: white;
}