* {
    font-family: Verdana, Tahoma, sans-serif;
   
}
body {
  background-color: #f8ede3;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #212529;
    color: white;   
}
/* Making the list float on the right*/
nav li {
  float: right;
}
li a {
  display: block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}
nav ul img {
  float: left;
  margin-left: 50px;
  color: #009B00;
  margin-top: 4px;
}

.bp-logo {
  float: left;
  margin-left: 4%;
}

.amoco-logo {
  float: left;
  margin-left: 2%;
  margin-top: 14px;
}
.shell-logo {
  float: left;
  margin-left: 2%;
  margin-top: 12px;
}
nav ul h1 {
  float: left;
  font-size: 24px;
  margin-left: 5px;
  margin-top: 16px;
  color: white;
}
/* This is the leftside logo, giving it a border and border radius */
.left-side .logo {
  border-radius: 10px;
  border: 0px solid black; /* Giving it a 0 because the other img tag has a border so resetting it to 0 for the logo */
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  color: white;
  border-bottom: 5px solid #009B00;
  margin-top: -5px;
}

.offerList {
  font-size: 15px;
}

/* Front page main */
.front-page-main h1{
  text-align: center;
  margin-top: 50px;
}

/* Front page main */
.front-page-main h2{
  text-align: center;
  margin-top: 10px;
}
.firstline-stores {
  margin-left: 50px;
  display: flex;
  justify-content: space-evenly;
}
.secondline-stores {
  margin-top: 60px;
  margin-left: 50px;
  display: flex;
  justify-content: space-evenly;
}
.our-story-section
{
  text-align: center;
  margin-top: 3%;
}
.our-story-section h2{
  color: #7fa9ae;
}
.our-story-section h5{
  width: 35%;
  text-align: center;
  margin: auto;
  opacity: 0.8;
}

.contact {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  opacity: 0.8;
}
.contact h3 {
  color: #7fa9ae;
  opacity: 1;
}




@media screen and (max-width: 500px) {
  ul img
  {
    visibility: hidden;  
  }
  .our-story-section h5
  {
    width: 60%;
  }
  body 
  {
    overflow-x: hidden;
  }
  .firstline-stores
  {
    flex-direction: column;
  }
  .secondline-stores
  {
    flex-direction: column;
  }
 
}